* {
  cursor: none !important;
}

#custom-cursor {
  position: fixed;
  width: 32px;
  height: 32px;
  pointer-events: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  transform: translate(-50%, -50%);
}